@charset "utf-8";

.content {
  color: white;
}
/* Special Navbar Settings (so it can be transparent at top) */
nav {
  background-color: rgba(255, 255, 255, 0);
}
.navButton {
  color: black;
}

/* HEADER */
.header {
  background-color: #eae2cf;
  height: 100vh;
  position: relative;
  display: flex;
  z-index:-2;
}
#headerText {
  padding-top: 35vh;
  padding-left: 33vh;
  position: absolute;
}
#headerText h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 21vh;
  font-optical-sizing: auto;
  font-style: normal;
  color: #15151d;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#headerText img {
  height: 37vh;
  margin-right: -15.08vh;
  margin-top: -6.7vh;
  z-index: -1;
}
.headerBackground img {
  position: absolute;
  width: 229vh;
}
#headerHill {
  left:0;
}
#headerLeaves{
  right:0;
}
#headerBranch{
  right:0;
  margin-right:-10vh;
}
#bgColor {
  z-index: -2;
}
header .bold {
  font-weight: 800;
}

/* BODY */
.body {
  background: white;
  background-size: cover;
  background-attachment: fixed;
}
.hslant {
  height: 20vh;
  background: #15151d;
  transform: skewY(3deg);
  margin-top: -10vh;
}

.whatIsBamboo {
  background: #15151d;
  padding-top: 14.25vh;
  padding-bottom: 14.25vh;
  color: white;
}
.whatIsBambooText {
  padding-left: 10vh;
}
.whatIsBambooText h2{
  font-size: 8vh;
}
.whatIsBambooText p, .whatIsBambooText button{
  font-size: 3vh;
}
.whatIsBamboo img {
  height: 50vh;
  width: 100vh;
}
.features {
  margin-top: 22.8vh;
  margin-bottom: 11.4vh;
  text-align: center;
  padding-left: 22.8vh;
  padding-right: 22.8vh;
}
.features h1 {
  margin-bottom: 8.55vh;
}
.features img {
  width: 12.8vh;
  margin: auto;
  margin-bottom: 2.85vh;
}
.features p {
  font-size: 2.85vh;
}
.features .col {
  padding-left: 8.55vh;
  padding-right: 8.55vh;
}

.projectScope {
  padding-top: 28.5vh;
  padding-bottom: 14.25vh;
  margin-bottom: 14.25vh;
  background-color: #15151d;
  color: white;
}
.projectScope div {
  justify-content: center;
}
.projectScope td,
.projectScope th {
  color: white;
  font-size: 2.85vh;
}

.meetTheTeam .teamImages {
  background-color: black;
}
.meetTheTeam img {
  width: 28.5vh;
}
.meetTheTeam img:hover {
  transform: scale(1.02);
  transition: all, 0.1s;
  opacity: 0.8;
}
.meetTheTeam p b {
  font-size: 3.4vh;
}
.meetTheTeam p {
  font-size: 2.85vh;
  text-align: left;
}

.sponsorSupervisor {
  margin-top: 28.5vh;
  margin-bottom: 28.5vh;
}
.sponsorSupervisor img {
  height: 22.8vh;
  padding-bottom: 2.85vh;
}
