.resources {
  padding-top: 22.8vh;
  padding-bottom: 11.4vh;
  background-color: #15151d;
}
.resources .row {
  padding-left: 40vh;
  padding-right: 40vh;
}

.resources img {
  height: 14.25rem;
  width: 14.25rem;
}
.resources .card {
  /* note that .card is a bootstrap class. This styling adds on to it */
  width: 51vh;
  height: 57vh;
  margin: 8.55vh 2.85vh 8.55vh 2.85vh;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}
.resources .card img {
  height: 17vh;
  width: 17vh;
  margin-top: 2.85vh;
}
.resources h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 5vh;
}
.resources p,
.resources button {
  font-family: "Raleway", sans-serif;
  font-size: 2.85vh;
  font-weight: 400;
}
